{% extends 'app/base.html' %}
{% load static %}
{% block title %}History{% endblock %}
{% block body %} 
<section class=" py-5 bg-primary " id="history">
    <div class="  text-center ">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4 text-light container" style="font-family: monospace;">HISTORY</h1>
            <hr class="my-4">
            <p class="lead text-capitalize container text-light" style="font-family: 'Courier New', Courier, monospace;">
                The Story so far
            </p>
            <hr class="my-4">
        </div>
    </div>

    <div class="container">
      <p class="small  text-light">
        Umezuruike Hospital formally opened its door to the public on the 15th of October,
        1971 soon after the end of the Nigerian civil war. Its first home was in rented premises
        at 78/79 Wetheral Road, Owerri, a small fifteen bedded clinic. That was an epoch-making 
        occasion and it made news in the national dailies at the time, because it was the second fully
        equipped privately operated clinic in the metropolis of Owerri, offering both out-patient and 
        in-patient care of high quality.
        Before then, the only option was the ever crowded General Hospital, Owerri.
      </p>
      <p class="small text-light">
        It can be said that Umezuruike Hospital right from its inception was a trail blazer. The 
        purpose-built site of the Hospital was put into use in 1975 but
        the building was not completed until 1978.Every journey in life has a beginning and for an 
        individual, an ultimate end. However, institutions may continue to survive and Umezuruike
        Hospital has always been structured in the belief that it will survive its founders.
        The founding of Umezuruike was indeed a mixture of planning and
        chance from the late father of the proprietor, Chief OparaeburuoUmez-Eronini of blessed memory. He nurtured the dream while the Nigerian civil war was the accidental catalyst.

      </p>
      <hr class="my-4">
      <p class="lead text-capitalize pt-4 text-light" style="font-family: 'Courier New', Courier, monospace;">THE DREAM</p>
      
      <p class="small text-light">
        Late Chief EburuoUmez-Eronini, the father of the Proprietor of Umezuruike hospital was among
        Nigeria’s earliest trained chemist and druggist, what we will today call “Pharmacist”. He trained 
        at the Yaba College of Technology in Lagos. He ran a chemist store where he sold drugs, injections
        as well as compounded mixtures. The chemist shop attached to his home in Port Harcourt often had 
        a cacophony of aromatic smells. He treated sores and wounds and gave injections and also 
        minor ailments. He was in fact very successful.
    </p>
    <p class="small text-light">
        From one of Nigeria’s first trained primary care physician, from all this a dream grew that
        one of his children would train to be a doctor and provide relief and service to the people.
        As the family grew, his interest expanded and soon he spent more time in business than in medicine.
        He learnt as every doctor that he could not make enough money in medicine as it is both physically 
        and emotionally demanding without providing sufficient financial reward and he gradually became a 
        businessman and one of the very successful businessmen in Port Harcourt. A man of indomitable courage
        he was able to train all his 20 children almost all of them as university graduates in various fields.
        EburuoUmez-Eronini founded the first secondary school in Imo State, Emmanuel College, Owerri.
        He died in October 1979 but not before seeing the opening of Umezuruike hospital named after him at 
        the present site. This then was the dream. The name “Umezuruike” as it so happens is also 
        very apt as it means ‘Death Go To Rest’. What better name can one choose for a hospital?
    </p>
    <hr class="my-4">
    <p class="lead text-capitalize pt-4 text-light" style="font-family: 'Courier New', Courier, monospace;">THE ACCIDENT</p>
    <p class="small text-light">
        HRH. Eze (Dr.) E. M. Umez-Eronini, the first Chief Medical Director of Umezuruike Hospital and
        son of Chief EburuoUmez_Eronini qualified in medicine in Cardiff in the United Kingdom in 1967. 
        He obtained the M.R.C.P. (U.K.) of the Royal College of Physicians of London in January, 1970. 
        He was a distinguished scholar interested in the academics of medicine. He was awarded scholarship
        to pursue doctorate in medicine in the U.K. but the Nigerian civil war coupled with the health of
        his father cut short his interest. He returned to Nigeria to cure his sick father at Awo-Omama
        community Hospital under the benevolence of his father’s good friend Dr. B. U. Nzeribe, another
        frontline educationist. Baba Umez used this forum to convince his son of the need to start a
        private hospital. He felt that an academic career in medicine was selfish and helped only a
        few while a hospital was an industry that gave both employment and life to the people at the grassroots.
    </p>
    <p class="small text-light">
        Baba Umez also felt that with his son’s wife, Dr. MrsElispeth Ann Umez-Eronini, a Paediatrician,
        from Wales United Kingdom, who had just joined the husband, the two formed a personnel base for 
        a private hospital. Chief Eburuo won his argument. Umezuruike Hospital as then conceived was 
        sealed and delivered in October 1971. That was the accident. Eventually, Baba Umez’s dream came 
        to full fruition with the establishment of the Umezuruike Hospital at its permanent
        site in 1975. The building was completed in 1978.
    </p>
    <p class="small text-light">
        Dr. Mrs. Elispeth Ann Umez-Eronini, one of the founders died in the year 2001, but her 
        dream continued to live on.HRH Eze (Dr.) E. M. Umez-Eronini later died in the year 2010.
    </p>
    <p class="small text-light">
        The hospital celebrated its 25th anniversary in 1996 and has continued
         to give quality medical services to the people of Owerri and environs.
    </p>
    <p class="small text-light">
        Umezuruike Hospital is registered with the N. H. I. S. to provide primary and 
        secondary health care.It maintains working relationships with more than 25 Health 
        Management Organizations under the N.H.I.S. scheme in addition to many Private
        Health Organizations.
    </p>

    
      
    </div>
</section><!-- End -->
{% endblock %}